:root {
  --main-color: rgb(86, 169, 196);
  --main-color-nuanced: rgb(169, 214, 228);
  --main-color-nuanced-opacified: rgba(169, 214, 228, 0.8);
  --grey-10: rgba(228, 228, 228, 0.1);
  // --second-grey-60: rgba(139, 139, 139, 0.6);
  --input-color: rgb(51, 140, 170);
  --secondary-color: #f99c32;
  --main-font: "Poppins", sans-serif;
}
